luna16_data/*
data_preproc/masks/*
data_preproc/volumes/*
patches/train/*
patches/val/*
models/*
.luna16
luna16_data/download_data.sh

!luna16_data/.gitkeep
!data_preproc/volumes/.gitkeep
!data_preproc/masks/.gitkeep
!patches/train/.gitkeep
!patches/val/.gitkeep
!models/.gitkeep.luna16/
